@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

// color pallete
$primary: #664a7f;
$secondary: #274bf8;
$info: #274bf8;

@import "~bulma/bulma";
